<div class="container app-shell pt-0">
    <footer class="footer border-top border-opacity-50 pt-4 mt-5">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
            <div>&copy; {{ name | default('StartPage') }}</div>
            <div class="text-muted">Version {{ version | default('—') }}</div>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-aP1GmnT3Dyv4lNLuxO8aorAKT98VdgSy/TYeZWgpF8g5depcQW0hQyb3j3xJmArF"
        crossorigin="anonymous"></script>
<script src="/static/js/theme.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    [...tooltipTriggerList].forEach((tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
