<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">StartPage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" href="/add">Add</a></li>
                        <li><a class="dropdown-item disabled" href="/export">Export</a></li>
                        <!-- TODO: Still working on these functions -->
                        <li><a class="dropdown-item disabled" href="/import">Import</a></li>
                        <!-- TODO: Still working on these functions -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Add new URL</h4>
                <form action="/add" method="post" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="link_name" name="link_name" placeholder="Name"
                                   value="" required>
                            <div class="invalid-feedback">
                                Valid link name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="link_url" name="link_url" placeholder="URL"
                                   value="" required>
                            <div class="invalid-feedback">
                                Valid link URL is required.
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="link_tags" name="link_tags"
                                   placeholder="tags, comma seperated: eg: tag1, tag2, tag3" value="">
                        </div>

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

{% include 'footer.html' %}

</body>
</html>