<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

<div class="mx-2">
    <div class="row row-cols-md-2 g-4">
        {% for link in links %}
            <div id="card" class="col"{% if loop.last %} hx-get="/dashboard_items/1" hx-trigger="revealed" hx-swap="afterend"{% endif %}>
                <div class="card h-100">
                  <div class="card-body">
                    <h5 id="card-title">{{ link.name }}</h5>
                    <p class="card-text">{{ link.url }} <br />Rank: {{ link.rank | round(2) }}</p>
                    <a class="btn btn-primary" href="/edit/{{ link.id }}" role="button">Edit</a>
                    <a class="btn btn-danger" hx-confirm="Delete {{ link.name }}?" hx-target="closest #card" hx-swap="outerHTML" hx-delete="/delete/{{ link.id }}" role="button">Delete</a>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted text-center">Last Used {{ link.accessed }}</small>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
