<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <title>StartPage - Links</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">StartPage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item disabled" href="/export">Export</a></li>
                        <!-- TODO: Still working on these functions -->
                        <li><a class="dropdown-item disabled" href="/import">Import</a></li>
                        <!-- TODO: Still working on these functions -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <ul class="list-group list-group-flush">
            {% for link in links %}
                <li class="list-group-item lh-1"><a href="/redirect/{{ link.id }}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left"
                       data-bs-delay="200" title="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm"></div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item{% if page == 0 %} disabled{% endif %}">
      <a class="page-link" href="/">First</a>
    </li>
    <li class="page-item{% if page == 0 %} disabled{% endif %}">
      <a class="page-link" href="/?page={{ page - 1 }}">&laquo;</a>
    </li>
    {% if page >= 3 %}<li class="page-item"><a class="page-link" href="/?page={{ page - 3 }}">{{ page - 3 }}</a></li>{% endif %}
    {% if page >= 2 %}<li class="page-item"><a class="page-link" href="/?page={{ page - 2 }}">{{ page - 2 }}</a></li>{% endif %}
    {% if page >= 1 %}<li class="page-item"><a class="page-link" href="/?page={{ page - 1 }}">{{ page - 1 }}</a></li>{% endif %}
    <li class="page-item disabled"><a class="page-link" href="#"><strong>{{ page }}</strong></a></li>
    {% if page <= count - 1 %}<li class="page-item"><a class="page-link" href="/?page={{ page + 1}}">{{ page + 1}}</a></li>{% endif %}
    {% if page <= count - 2 %}<li class="page-item"><a class="page-link" href="/?page={{ page + 2}}">{{ page + 2 }}</a></li>{% endif %}
    {% if page <= count - 3 %}<li class="page-item"><a class="page-link" href="/?page={{ page + 3}}">{{ page + 3 }}</a></li>{% endif %}
    <li class="page-item{% if page >= count %} disabled{% endif %}">
      <a class="page-link" href="/?page={{ page + 1 }}">&raquo;</a>
    </li>
    <li class="page-item{% if page >= count %} disabled{% endif %}">
      <a class="page-link" href="/?page={{ count }}">Last</a>
    </li>
  </ul>
</nav>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"
></script>

<script>var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
</body>
</html>